* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* header style */

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:rgba(229, 84, 115, 0.10);
    padding-top: 50px;
    padding-left: 30px;
}

.header h1{
    font-size: 45px;
    font-weight: 700;
}
.header-description{
text-align:left;
margin-right: 150px;
padding-left: 50px;
width: 50%;
}
.btn-primary{
    background-color: #E55473;
    border: 0;
    padding: 7px;
    border-radius: 5px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
}


/*  =   ==================== feature section ============== */

.feature{
    margin: 80px 0;
}
.feature-item1{
        width: 50%;
    margin: auto;
    text-align: center;
}
.feature-item1 p{
     margin-bottom: 40px;
}

.feature-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-wd{
    width: 300px;
}
.img-background1{
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
    display: flex;
    text-align: center;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 20px;
    height: 350px;
}
.img-background2{
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
    display: flex;
    text-align: center;
    background-color: rgba(5, 151, 160, 0.15);
    padding: 20px;
    height: 350px;
}
.img-background3{
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
    display: flex;
    text-align: center;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 20px;
    height: 350px;
}



/* Hot Deal Section */

.hot-deal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:rgba(229, 84, 115, 0.10);
    margin-top: 50px;
    padding: 50px;
}
.hot-deal-item{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
.off-pink{
    color: #E55473;
}
.hot-deal-item h3{
font-size: 25px;
}



/* ======================Instragram Section ========================================== */
.inst-section{
    margin-top: 20px;
    margin-bottom: 50px;
    
}
.inst-description{
    margin-top: 80px;
    text-align: center;
}
.inst-description h3{
    font-size: 25px;
    font-weight: 700;
}
.inst-image{
    text-align: center;
    margin-top: 50px;
}
.image{
    width: 20%;
}

/* ================================ Latest Deal Section ============================== */

.latest-deal{
   display: flex;
   justify-content: center;
}
.latest-deal-item{
    
    background-image: url('../flower-asset/Rectangle\ 9.png');
    width: 75%;

    padding: 100px 40px;
    margin: 150px 0px;
    text-align: center;
}
.email-input{
    width: 40%;
    border: 0;
    background-color:white;
    padding: 15px 20px;
    margin: 0 30px;

    /* =========================Footer======================= */

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 85px 0;
    margin-top: 80px;

}
footer h2{
    font-size: 30px;
    margin-bottom: 15px;
}
footer small{
    display: block;
    margin-top: 25px;
}

/* ============================ Feedback ================ */

.feedback{
    background-color: rgba(48, 78, 55, 0.1);
    width: 50%;
    margin: auto;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 20px 20px 55px grey;
}
.checkbox-feedback{
    display: block;
}

.feedback-item h2, p{
text-align: center;
margin-top: 5px;
margin-bottom: 5px;


}

.feedback-item p{
    margin-bottom: 15px;
}
.textarea{
    display: block;
    margin-top: 30px;
}